* {
    margin: 0;
    padding: 0;
}

body {
    font-size: x-large;
}

.cabeca {
    width: 100vw;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cabeca button {
    width: 100px;
    height: 50px;
    background-color: red;
    font-size: x-large;
}

input {
    font-size: x-large;
}

th,
td {
    border: 2px solid black;
    padding: 5px;
}

table {
    margin-top: 30px;
}

.conteudo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cadastroatividadeButton {
    height: 50px;
    background-color: darkgrey;
    font-size: x-large;
    padding: 5px;
    margin-top: 30px;
}