*{
    margin: 0;
    padding: 0;
}

body{
    font-size: x-large;
}

.cabeca{
    width: 100vw;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cabeca button {
  width: 100px;
  height: 50px;
  background-color: red;
  font-size: x-large;
}

.dashboard{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

th, td {
    border: 2px solid black;
    padding: 5px;
  }

  #delete{
    height: 40px;
    background-color: red;
    font-size: x-large;
    padding: 5px;
  }

  #ver{
    height: 40px;
    background-color: green;
    font-size: x-large;
    padding: 5px;
  }

  #cadastroTurmaButton{
    height: 50px;
    background-color:darkgrey;
    font-size: x-large;
    padding: 5px;
  }