* {
    margin: 0;
    padding: 0;
}

.tela {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.login {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 0 15px 25px 15px;
    align-items: center;
}

.caixa {
    border: solid 2px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button {
    width: 10vw;
    height: 5vh;
    margin-top: 25px;
    background-color: blue;
    color: white;
    border: none;
}

#email,
#senha {
    width: 25vw;
    height: 5vh;
    margin-top: 25px;
}

h2 {
    margin-top: 25px;
}